.column {

    background: white;

    flex: 1;

    min-width: 300px;

    max-width: 340px;

    min-height: 650px;

    border-radius: 18px;

    padding: 18px;

    display: flex;

    flex-direction: column;

    box-shadow: 0 8px 25px rgba(0,0,0,.08);

}

.column-header {

    border-bottom: 1px solid #E5E7EB;

    padding-bottom: 12px;

    margin-bottom: 18px;

}

.column-header h2 {

    text-align: center;

    color: #0052CC;

    font-size: 28px;

}

.column-body {

    flex: 1;

    display: flex;

    flex-direction: column;

    gap: 18px;

}

.add-task-btn {

    margin-top: 18px;

    width: 100%;

    padding: 12px;

    border: none;

    border-radius: 12px;

    background: #E9F2FF;

    color: #0052CC;

    font-weight: 600;

    cursor: pointer;

    transition: .25s;

}

.add-task-btn:hover{

    background:#D6E8FF;

}